# Este es un archivo de referencia. Copia este contenido en .env y completa los valores.

# Configuración de la base de datos PostgreSQL
DATABASE_URL="jdbc:postgresql://postgres.railway.internal:5432/railway"
DATABASE_USER=postgres
DATABASE_PASSWORD=KZVaDReIPgCJPazaxtiNXTHpkSxUUqBA

# Configuración de MongoDB
MONGODB_URI="mongodb://mongo:FKHRJjyaCwtUKiltbxwNNtOoIYMpjvYz@mongodb.railway.internal:27017/railway"

# Configuración del servidor
SERVER_PORT="8080"

# Configuración de seguridad
JWT_SECRET=ColocaAquiTuClaveSecreta
JWT_EXPIRATION=3600000
